body
{
    background-color: midnightblue;
}
.container-fluid
{
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    border: 1px solid midnightblue;
    border-radius: 5px;
}

.row
{
    
    display:flex;
    justify-content:center;
    padding:20px;

}
.jumbotron
{
    background-image: url("https://www.successmantra.in/assets/assestsnew/images/login-registration.png ");
    background-size: 100% 100%;
    background-position: center;
    height: 500px;
    width: 100%;
}
.col
{   font-weight: 20px;
    background-color: whitesmoke;
    color:midnightblue;
    text-align: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}


img
{
    margin-top: 50px;
    border-radius: 50px;

}
input[type="text"]
{
    
    background: transparent;
    border: transparent;
    outline: none;
    border-bottom:2px solid green;
}
input[type="email"]
{
    
    background: transparent;
    border: transparent;
    outline: none;
    border-bottom:2px solid green;
}
input[type="password"]
{
    background: transparent;
    border: transparent;
    outline: none;
    border-bottom:2px solid green;
}
input[type="submit"]
{
    color:whitesmoke;
    background-color: midnightblue;
    border-radius: 4px;
}
#user_error
{
    color:red;
    font-size: 15px;
}
#email_error
{
    color:red;
    font-size: 15px;
}
#password_error
{
    color:red;
    font-size: 15px;
}
#re_password_error
{
    color:red;
    font-size: 15px;
}
a
{
    color:red;
    text-decoration: none;
}